/* Reset CSS */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Container principal */

.container {
  position: relative;
  width: 90%;
  height: auto;
  margin: 1% auto;
}

/* Header principal */

#cabecalho {
  position: relative;
  width: 100%;
  height: 80px;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cabecalho h1 {
  font-size: 16px;
  text-transform: uppercase;
}

/* Nav principal */

nav {
  position: relative;
  width: 100%;
  height: 30px;
  background-color: royalblue;
}

/* Container2 */

.container2 {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
}

/* Div links */

#links {
  position: relative;
  width: 35%;
  height: 400px;
  background-color: #fff;
}

main {
  position: relative;
  width: 50%;
  height: 400px;
}

section {
  position: relative;
  width: 100%;
  height: 400px;
  background-color: #e2e2e2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
}

/*  */

#header2 {
  position: relative;
  width: 95%;
  height: 30px;
  background-color: green;
}

#divs {
  position: relative;
  width: 95%;
  height: 80px;
  background-color: burlywood;
}

#texto {
  position: relative;
  width: 95%;
  height: 60px;
  background-color: violet;
}

.container_divs {
  position: relative;
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#div1,
#div2,
#div3 {
  width: 30%;
  height: 100px;
}

#div1 {
  background-color: palevioletred;
}
#div2 {
  background-color: orange;
}
#div3 {
  background-color: purple;
}

/*  */

aside {
  position: relative;
  width: 25%;
  height: 400px;
  background-color: red;
}

footer {
  position: relative;
  width: 100%;
  height: 80px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

footer h1 {
  font-size: 16px;
  text-transform: uppercase;
}